<div class="container-fluid">

  <app-titulo-pantalla
    [titulo]="'Anomalia de datos'"
    [descripcion]="'Anomalia en la integridad de datos'"
  ></app-titulo-pantalla>

  <div class="row espacio-top-2">
    <div class="col-lg-12">
      <div class="col-sm-12">
        <mat-card>
          <b>Descripción:</b>
          Se detalla información de los trigger existentes en la base
        </mat-card>
      </div>
    </div>
  </div>

  <div class="row espacio-top-4">
    <div class="col-lg-12">
      <div class="col-sm-12">
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Triggers">
            <app-tabla-generica
            [tituloTabla]="'TRIGGERSS'"
            [data]="data"
            [columnas]="columnas"
            ></app-tabla-generica>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
