<div class="container-fluid">

  <app-titulo-pantalla
    [titulo]="'Anomalia de integridad referencial'"
    [descripcion]="'Anomalia en la integridad referencial'"
  ></app-titulo-pantalla>

  <div class="row espacio-top-2">
    <div class="col-lg-12">
      <div class="col-sm-12">
        <mat-card>
          <b>Descripción:</b>
          La tabla muestra si existe alguna acción que se realice cuando se ejecuta un UPDATE o DELETE, las opcionens que se muestan son:
          <ul>
            <li>
              SET NULL: Los datos secundarios se establecen en NULL cuando se eliminan o actualizan los datos princiapales.
            </li>
            <li>
              CASCADE: Los datos secundarios se eliminan o actualizan cuando se eliminan o actualizan los datos principales
            </li>
            <li>
              SET DEFAULT: Los datos secundarios se establecen en sus valores por defecto cuando se eliminan o actualizan los datos principales
            </li>
            <li>
              NO ACTION: No se realiza ninguna acción con los datos secundarios cuando se eliminan o se actualizan los datos principales
            </li>
          </ul>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="row espacio-top-4">
    <div class="col-lg-12">
      <div class="col-sm-12">
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Integridad referencial">
            <app-tabla-generica
              [tituloTabla]="'Integridad referencial'"
              [data]="data"
              [columnas]="columnas"
            ></app-tabla-generica>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
